@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: brown;
    margin-bottom: 10px;
}

p {
    color: blue;
}

table {
    border-top: 1px solid red;
}

th {
    border: 2px solid black;
}

td {
    border: 1px solid blue;
}

#top {
    background-color: brown;
}

a:visited {
    color: brown;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        "header-A header-A"
        "aside-A main-A"
        "footer-A footer-A";
    gap: 15px;
    padding: 10px;
}


.gnav>ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 0;
}

.gnav>ul>li {
    display: inline-block;
    padding: 8px 12px;
    border: 1px solid black;
    border-radius: 4px;
    background: linear-gradient(yellow, green);
}

.gnav>ul>li>a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}


footer {
    background-color: aquamarine;
    grid-area: footer-A;
    padding: 15px;
}

aside {
    background-color: blanchedalmond;
    grid-area: aside-A;
    padding: 1px;
}





.top_header {
    background-color: #ffcccb;
    grid-area: header-A;
    padding: 15px;
}

.top_main {
    background-color: #e0ffff;
    grid-area: main-A;
    padding: 15px;
}


.next_header {
    background-color: aqua;
    grid-area: header-A;
    padding: 15px;
}

.next_main {
    background-color: yellowgreen;
    grid-area: main-A;
    padding: 15px;
}


.next2_header {
    background-color: #ffb6c1;
    grid-area: header-A;
    padding: 15px;
}

.next2_main {
    background-color: #dda0dd;
    grid-area: main-A;
    padding: 15px;
}


.next3_header {
    background-color: #ffa500;
    grid-area: header-A;
    padding: 15px;
}

.next3_main {
    background-color: #fafad2;
    grid-area: main-A;
    padding: 15px;
}

